*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../img/bg.png");
}

.login-content{
    width: 376px;
    height: 412px;
    background-color: #1D0E34;
    border-radius: 10px;
    margin: 245px auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px 0;
}

.content__title{
    font-family: 'Blinker', sans-serif;
    font-size: 36px;
    color: #fff;
}

.login-content__input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 130px;
}

#nextLoginBtn{
    font-family: 'Blinker', sans-serif;
    width: 180px;
    height: 60px;
    border: none;
    outline: none;
    background-color: #FFDEDE;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}
#nextLoginBtn{
    text-decoration: none;
    color: #1D0E34;
}


input{
    font-family: 'Blinker', sans-serif;
    height: 50px;
    width: 275px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #36295C;
    font-size: 18px;
    padding-left: 20px;
}
input[placeholder]{
    color: #ffffff;
}